.button-row {
    @include flex(center, flex-end);
    margin-top: rem(15px);
    .list-inline-item:not(:last-child) {
        margin-right: rem(65px);
    }
}

.ar {
    .button-row {
        .list-inline-item:not(:last-child) {
            margin-left: rem(65px);
            margin-right: 0px;
        }
    }
}

.btn {
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    border: 0;
    outline: 0;
    line-height: 1;
    border-radius: 0px;
    transition: all .5s ease;
    font-size: rem(15px);
    font-weight: 600;
    color: #fff;
    padding: rem(15px) rem(50px);
    vertical-align: middle;
    position: relative;
    i {
        font-size: rem(17px);
        padding-right: rem(15px);
    }
    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }
    &.btn-primary,
    .btn-primary:focus,
    .btn-primary:active {
        background: $primary;
        font-family: $primary-font;
        // padding: rem(10.5px) rem(40px);
        padding-left: rem(5px);
        padding-right: rem(5px);
        min-width: 160px;
        text-align: center;
        @media screen and (max-width: 767px) {
            min-width: 110px;
        }
        &.bold {
            font-weight: 700;
        }
        &:not(:disabled):hover {
            box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
            background: #a8372d;
        }
        &:not(:disabled):active {
            background: $primary;
            border: 0;
            box-shadow: none !important;
        }
        &.big {
            width: 100%;
            padding: rem(16px) 0px;
            text-align: center;
            max-width: 100%;
        }
    }
    &.btn-secondary {
        padding: rem(14px) rem(35px);
        color: $primary;
        border: 1px solid $primary;
        background: #fff;
        border-radius: 25px;
        &:hover {
            background: $primary;
            color: #fff;
        }
    }
    &.btn-cancel {
        font-size: rem(16px);
        color: $primary;
        border-bottom: 1px solid $primary;
        border-radius: 0;
        padding: 0;
    }
    &.btn-link {
        &:focus {
            text-decoration: none;
        }
    }
    &.arrow-right {
        padding-top: rem(8.5px);
        padding-bottom: rem(8.5px);
        span {
            display: inline-block;
            position: relative;
            //vertical-align: middle;
            width: 22px;
            height: 22px;
            margin-left: rem(10px);
            vertical-align: text-top;
            &:after {
                position: absolute;
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 384 186'%3E%3Cg class='cls-2'%3E%3Cpath class='cls-3' d='M379.6,82.38h0l-78.38-78a15,15,0,0,0-21.16,21.26L332.67,78H15a15,15,0,0,0,0,30H332.67l-52.62,52.37a15,15,0,1,0,21.16,21.26l78.38-78h0a15,15,0,0,0,0-21.24' transform='translate(0 0)'/%3E%3C/g%3E%3C/svg%3E");
                background-repeat: no-repeat;
                right: 0px;
                width: 22px;
                height: 22px;
                top: 5px;
                transition: all 0.6s ease;
            }
        }
        &:hover {
            span:after {
                right: -10px;
            }
        }
    }
    &.btn-small-h {
        padding-top: rem(9px);
        padding-bottom: rem(9px);
    }
    &.show-loading {
        pointer-events: none;
        &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f110";
            position: absolute;
            left: 8px;
            webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear;
        }
    }
}

.btn-upload {
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    line-height: 1;
    transition: all .5s ease;
    font-size: rem(18px);
    font-family: $primary-font;
    vertical-align: middle;
    position: relative;
    color: $primary;
    border: 1px solid $primary;
    background: #fff;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    span {
        display: block;
        padding: rem(10px) rem(42.5px);
    }
    &:hover {
        background: $primary;
        color: #fff;
    }
}

.radio {
    margin: 0;
    padding: 0;
    padding-bottom: rem(15px);
    label {
        padding-left: 25px;
        margin: 0;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: rem(50px);
        }
    }
    input[type="radio"] {
        display: none;
        +span {
            display: inline-block;
            line-height: normal;
            position: relative;
            font-size: rem(16px);
            color: #606161;
            padding-left: 0px;
            img {
                vertical-align: text-top;
                margin-left: rem(3px);
            }
            &:after {
                content: "";
                width: 15px;
                height: 15px;
                background: #fff;
                border: 1px solid #919191;
                border-radius: 2px;
                position: absolute;
                top: 50%;
                left: -25px;
                transform: translateY(-50%);
            }
        }
        &:checked {
            +span {
                &:after {
                    content: "\f00c";
                    position: absolute;
                    color: '#fff';
                    font-family: FontAwesome;
                    border-radius: 2px;
                    font-size: 13px;
                }
            }
        }
    }
}

// .checkbox {
//     margin: 0;
//     padding: 0;
//     padding-bottom: rem(15px);
//     label {
//         padding-left: 25px;
//         margin: 0;
//         cursor: pointer;
//         &:not(:last-child) {
//             margin-right: rem(50px);
//         }
//     }
//     input[type="checkbox"] {
//         display: none;
//         +span {
//             display: inline-block;
//             line-height: normal;
//             position: relative;
//             font-size: rem(16px);
//             color: #606161;
//             padding-left: 0px;
//             img {
//                 vertical-align: text-top;
//                 margin-left: rem(3px);
//             }
//             &:after {
//                 content: "";
//                 width: 12px;
//                 height: 12px;
//                 background: #fff;
//                 border: 1px solid #e3e3e3;
//                 border-radius: 0;
//                 position: absolute;
//                 top: 50%;
//                 left: -25px;
//                 transform: translateY(-50%);
//             }
//         }
//         &:checked {
//             +span {
//                 &:after {
//                     border-radius: 2px;
//                 }
//             }
//         }
//     }
// }
input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: pointer;
    display: block;
}